<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<!--    如果是表单提交，则必须在表单元素上添加name -->
    <form action="/index" method="get">
        <p><input type="text" name="username" placeholder="请输入用户名"></p>
        <p><input type="password" name="pwd" placeholder="请输入密码"> </p>
        <p><input type="submit" value="登入"></p>
    </form>

<!--        <form action="/index" method="post">-->
<!--        <p><input type="text" name="username" placeholder="请输入用户名"></p>-->
<!--        <p><input type="password" name="pwd" placeholder="请输入密码"> </p>-->
<!--        <p><input type="submit" value="登入"></p>-->
<!--    </form>-->
</div>
</body>
</html>